* {
    user-select: none;
}

.borderedContainer {
    border: 2px solid green;
    margin:0;
    padding:0;
}

.loginContainer {
    width: 400px;
    height: 500px;
    color: green;
    background-color: rgba(0, 0, 0, 0.4);
}

.savedUserLine {
    padding: 10px;
    border: 0px solid green;
    border-bottom-width: 2px;
}

.savedUserText {
    margin-left: 15px;
}

.savedUserText .username {
    font-size: 2em;
}

.savedUserText .loginStatus {
    font-size: 1.2em;
}

.droneBtn {
    border: 0px solid green;
    border-left-width: 2px;
    /*border-top-width: 2px;*/
    border-radius: 0;
    font-size: 1.5em;
    background: none;
    color: inherit;
    font-family: inherit;
    padding: 6px 5px;
    margin: 0;
}

.buttonRow {
    border-top: 2px solid green;
}

.droneBtn:first-child {
    border-left-width: 0;
}


.GONERMAKER_BG_CANVAS {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    aspect-ratio: 4/3;
    object-position: center;
    object-fit: cover;
    z-index: -10;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation: GONERMAKER_BG_APPEAR 3s linear 1;
}

@keyframes GONERMAKER_BG_APPEAR {
	from {
        opacity: 0;
    }
	to {
        opacity: 1;
	}
}

.GASTER_TEXT_CONTAINER {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 4em;
}

.GASTER_TEXT_LEFTER {
    width: 30%;
    display: none;
}

.GASTER_TEXT_LEFTER.ON {
    display: block;
}

.GASTER_TEXT {
    font-size: 3vmax;
    -webkit-text-stroke: 0.15em rgba(255, 255, 255, 0.5);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    animation: GASTER_TEXT_GLOW 5s infinite ease-in-out alternate;
    width: fit-content;
}

@keyframes GASTER_TEXT_GLOW {
	from {
        -webkit-text-stroke-color: rgba(255, 255, 255, 0.3);
    }
	to {
        -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
	}
}

@keyframes GASTER_TEXT_GLOW_YELLOW {
	from {
        -webkit-text-stroke-color: rgba(255, 255, 0, 0.3);
    }
	to {
        -webkit-text-stroke-color: rgba(255, 255, 0, 0.5);
	}
}

.PrettyCards_UTTextParagraph {
    float: left;
    clear: both;
    white-space: nowrap;
    text-wrap: nowrap;
    white-space-collapse: preserve;
}

#ESTABLISH_CONNECTION {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

#ESTABLISH_CONNECTION_BUTTON {
    padding: 1em 1.5em;
    font-size: 3em;
    color: green;
    border: 3px solid green;
}

.MESSAGE_FADE {
    opacity: 0;
    animation: MESSAGE_FADE 1s;
}

@keyframes MESSAGE_FADE {
	from {
        opacity: 1;
    }
	to {
        opacity: 0;
	}
}

.APPEARANCE {
    position: absolute;
    translate: -50% 0;
    top: 0px;
    left: 50%;
}

.GONERMAKER_PLACER {
    position: absolute;
    bottom: 1em;
    translate: -50% 0;
    left: 50%;
    transition: left 2s;
}

.GONERMAKER_PLACER_RIGHT {
    left: 75%;
}

.GONERMAKER {
    transition: 1s opacity;
}

.GONERMAKER.FADE {
    opacity: 0;
}

.GONERMAKER_CONTROLS {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.GONERMAKER_CONTROLS > div {
    width: 100%;
    height: 100%;
}

.MOVING_HEART {
    position: absolute;
    top: -100%;
    left: -100%;
    transition: 1s opacity;
    opacity: 0;
}

.MOVING_HEART.MOVING_HEART_VISIBLE {
    opacity: 1;
}

.BINARY_CHOICE_CONTAINER {
    position: absolute;
    bottom: 1.5vmax;
    left: 50%;
    translate: -50% 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 30%;
    transition: 1s opacity;
    opacity: 0;
    z-index: 2;
    font-size: 3vmax;
}


.BINARY_CHOICE_CONTAINER.BINARY_CHOICE_CONTAINER_VISIBLE {
    opacity: 1;
}

.BINARY_CHOSEN {
    color: yellow;
    animation: GASTER_TEXT_GLOW_YELLOW 5s infinite ease-in-out alternate;
}