
.borderedContainer {
    border: 2px solid green;
    margin:0;
    padding:0;
}

.loginContainer {
    width: 400px;
    height: 500px;
    color: green;
    background-color: rgba(0, 0, 0, 0.4);
}

.savedUserLine {
    padding: 10px;
    border: 0px solid green;
    border-bottom-width: 2px;
}

.savedUserText {
    margin-left: 15px;
}

.savedUserText .username {
    font-size: 2em;
}

.savedUserText .loginStatus {
    font-size: 1.2em;
}

.droneBtn {
    border: 0px solid green;
    border-left-width: 2px;
    /*border-top-width: 2px;*/
    border-radius: 0;
    font-size: 1.5em;
    background: none;
    color: inherit;
    font-family: inherit;
    padding: 6px 5px;
    margin: 0;
}

.buttonRow {
    border-top: 2px solid green;
}

.droneBtn:first-child {
    border-left-width: 0;
}