
@font-face {
    font-family: dtm-mono;
    src: url(../fonts/DTM-Mono.otf) format('truetype')
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

html body {
    background-image: url("../img/gonerbg_test.gif");
    background-color: black;
    background-position:center;
    background-size: cover;
}

.divCenterer {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.full {
    width: 100%;
    height: 100%;
}

.fullRowFlex {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
}

.fullColumnFlex {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: nowrap;
}

.flexSpace {
    width: 100%;
    height: 100%;
}